pkgbase = lxd
	pkgdesc = Daemon based on liblxc offering a REST API to manage containers
	pkgver = 4.14
	pkgrel = 1
	url = https://linuxcontainers.org/lxd
	arch = x86_64
	license = APACHE
	makedepends = go
	makedepends = git
	makedepends = tcl
	makedepends = apparmor
	makedepends = libseccomp
	makedepends = systemd
	depends = lxc
	depends = lxcfs
	depends = squashfs-tools
	depends = dnsmasq
	depends = dqlite
	depends = libuv
	depends = ebtables
	optdepends = lvm2: for lvm2 support
	optdepends = thin-provisioning-tools: for thin provisioning support
	optdepends = btrfs-progs: for btrfs storage driver support
	optdepends = ceph: for ceph storage driver support
	optdepends = cdrtools: VM support
	optdepends = qemu: VM support
	optdepends = ovmf: VM support
	optdepends = systemd-libs: unix device hotplug support
	optdepends = apparmor: apparmor support
	source = https://linuxcontainers.org/downloads/lxd/lxd-4.14.tar.gz
	source = https://linuxcontainers.org/downloads/lxd/lxd-4.14.tar.gz.asc
	source = lxd.socket
	source = lxd.service
	source = lxd.sysusers
	validpgpkeys = 602F567663E593BCBD14F338C638974D64792D67
	sha256sums = 1e1ea51aec8860faae3028820d38df66f3dbf70436bc2749117c8c21c1d92ff5
	sha256sums = SKIP
	sha256sums = 3a14638f8d0f9082c7214502421350e3b028db1e7f22e8c3fd35a2b1d9153ef4
	sha256sums = 102d1d54186e0fc606a58f030231d76df6bd662b16dfd8f946e1f48e2b473b54
	sha256sums = d0184d9c4bb485e3aad0d4ac25ea7e85ac0f7ed6ddc96333e74fcd393a5b5ec4

pkgname = lxd

