pkgbase = foxboron-system
	pkgdesc = System configs
	pkgver = 13
	pkgrel = 1
	url = https://linderud.dev/
	arch = any
	license = MIT
	depends = git
	source = backup-backup
	source = backup-backup@.service
	source = backup-backup-snapper-cleanup.service
	source = backup-backup-sudo
	source = backup-snap-boot-backup
	source = backup-snap-boot-config
	source = backup-snapper-backup.service
	source = backup-snapper-filter
	source = backup-sudoers
	source = hook-bootctl-upgrade.hook
	source = hook-patch-system-configs.hook
	source = hook-patch-system-configs.scripts
	source = mkinitcpio-linux.preset
	source = kernel-cmdline
	source = pacman-aur.conf
	source = pacman-mirrorlist
	source = snapper-conf.d
	source = snapper-home
	source = snapper-root
	source = system-sudoers
	source = timers-timer@.target
	source = timers-timer@.timer
	source = fallback_dns.conf
	source = x11-99-keyboard.conf
	source = patch-main.conf.patch
	source = patch-mkinitpcio.conf.patch
	source = patch-NetworkManager.conf.patch
	source = patch-pacman.conf.patch
	source = patch-resolved.conf.patch
	source = patch-uefi_capsule.conf.patch
	source = patch-usbguard-daemon.conf.patch
	sha256sums = 793647362d8c6bbc665dc5a18537c0479f070d0e4453ceff64f8ed8fadab9faa
	sha256sums = fba676be6530edb1f4db5bc4bf7ea9ddcd8209822b797bd0f45e7fce5bbb940c
	sha256sums = 08e1d51e9559f89f8d6a57a3134b05295d8ace56cddac3aa97a0f3792b68ee91
	sha256sums = f5252e9184f5469bb7d4091359f752674b5925efe670a19aa65177b7409713b5
	sha256sums = 48ee59b2d3d2c6839825177a31f7efa6b4f4c7d43139409d63676c7955affb0b
	sha256sums = 2a978ea589fa3647d6156bdd054c5c76828b8934c832423f9d3a3db9e5e5019a
	sha256sums = fde7844e13e00125ad13bd87e0bc3f2347ce7424c054b1e2ade44ea05e1176fd
	sha256sums = b17747590458e5e540fad94dc046348f32b4e84565078c5609a824784163f6d2
	sha256sums = 9eae320f6f0842d0692d46020125432350ed25fbddec2d9829d16ca7f43991c5
	sha256sums = 3295c32224753a6f1d409b7de810af63c3fd1d987c193486caae84c8b66ba2c2
	sha256sums = e03ee1956c15ab4041dc5a29c978d0017ac5d8bce782f813b55bd0193fa7672e
	sha256sums = 685fb6ce4aec2c8e158fc27c8fb91533e042b00a514af15b45ade43bf2fb07f8
	sha256sums = b269081238fe9191dd5b731b60bdbf1e40c0b2929d92c36920a52097f87f0309
	sha256sums = ce3abbbc9582db7cce86b589c89125d84d80ffdacdda7f8c110062aa4d523617
	sha256sums = 274385b2c419e41b8bea9126c0cb2cdb1e126ea9ad9912211663590b87c9bbc0
	sha256sums = 4f09d8e3cffdd37c5c471873fcbfa5359060ad54c6a0f34df0862dd112c09647
	sha256sums = 76097926beead2ec82bc0da042ba1d5013d745d3d8d90239e9cecac32b174f6a
	sha256sums = 9471cb91dac1158c74732ce8469dafbcc1abe9e090a94f90f96e223d3e1acc88
	sha256sums = e8b40c151eb20db7cff213de28a63a9f8fa69ba371842ea18fcab11265ed2b87
	sha256sums = 053e38a80a8162450b9e145c119b9cee0385a869b26d24bb3f681bff78137592
	sha256sums = 148cffd0796d1fa2b1d9bba9274493bd9cfc2d5a524ffc0e03fc2d6e8e2c53fb
	sha256sums = dd01c47408e67c0af174345fb1bd92683d509181a0d8bf8fc1e22ba49e79ec24
	sha256sums = 47eed2b302b354dc4af4184e65970081bb54e82bf0a56634db47cc61bc0c28ad
	sha256sums = 477185de77c1cff69e9b7c9e5451fc71294c00c407726f87e29324f34379c01f
	sha256sums = ebb4a0889d18fb8d757d18642a2c03e10a2d99db06e23399d97e012d1898ec58
	sha256sums = e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
	sha256sums = 135895c76aeab498eab5d80d65bd49c7897f315a8667506511ebc978b8e18e42
	sha256sums = 28111b4f1cf1862b0531835b37147dfc9979fc6bf6b5bec43af29e8582112b9b
	sha256sums = 73192566b137fbc38487aeb8d0de3fecbf8646b58815c7f3646d8f30c2e3b482
	sha256sums = c5f3b468c6dbc94593afcd90d89eb242fd2fc497f74f173652ab4f589348bcd2
	sha256sums = c74fd40183d416292de3beedf9803d8e6b45bd08177d18c9c1312db9c661dba8
	sha256sums = 8f7bb14e31b79b3bf4c187becada41b3cf5370d8d391f8ed476546f89efba53a

pkgname = base-system
	install = base-system.install
	depends = base-packages
	depends = base-dotfiles

pkgname = base-packages
	depends = base
	depends = linux
	depends = linux-firmware
	depends = linux-headers
	depends = mkinitcpio
	depends = xorg-server
	depends = xorg-setxkbmap
	depends = xorg-xinit
	depends = xorg-xset
	depends = intel-ucode
	depends = xorg-xrandr
	depends = vulkan-intel
	depends = libvdpau-va-gl
	depends = grobi
	depends = ddcutil
	depends = i3-gaps
	depends = xorg-xset
	depends = i3lock
	depends = redshift
	depends = alacritty
	depends = feh
	depends = dunst
	depends = redshift
	depends = playerctl
	depends = unclutter
	depends = picom
	depends = rofi
	depends = ttf-dejavu
	depends = xdotool
	depends = i3blocks
	depends = pavucontrol
	depends = qutebrowser
	depends = chromium
	depends = xss-lock
	depends = python-adblock
	depends = python-requests
	depends = tlp
	depends = udiskie
	depends = usbguard
	depends = lm_sensors
	depends = networkmanager
	depends = zsh
	depends = fwupd
	depends = bolt
	depends = wireguard-tools
	depends = pipewire
	depends = pipewire-alsa
	depends = pipewire-jack
	depends = pipewire-pulse
	depends = wireplumber
	depends = man-db
	depends = sbctl
	depends = gnupg
	depends = pass
	depends = mpv
	depends = expac
	depends = xsel
	depends = zathura-pdf-mupdf
	depends = zathura
	depends = imv
	depends = mosh
	depends = openssh
	depends = htop
	depends = task
	depends = yubikey-manager
	depends = pass-otp
	depends = nvchecker
	depends = tmux
	depends = tig
	depends = git
	depends = pacman-contrib
	depends = hub
	depends = darktable
	depends = github-cli
	depends = podman
	depends = docker
	depends = pacutils
	depends = pcsclite
	depends = ccid
	depends = lxd
	depends = libfido2
	depends = efibootmgr
	depends = gopls
	depends = bc
	depends = jq
	depends = barrier
	depends = tailscale
	depends = mpv
	depends = acpi
	depends = ncdu
	depends = alsa-utils
	depends = k9s
	depends = kubectl
	depends = vlc
	depends = libmicrodns
	depends = devtools
	depends = meson
	depends = namcap
	depends = go
	depends = pdfjs
	depends = element-desktop
	depends = discord
	depends = bind
	depends = barrier
	depends = flameshot
	depends = fb-client
	depends = elinks
	depends = whois
	depends = asciinema
	depends = hugo
	depends = ibus
	depends = mdbook
	depends = firewalld
	depends = intel-media-driver
	depends = nvme-cli
	depends = pcsc-tools
	depends = toolbox
	depends = tpm2-tools
	depends = asp
	depends = zbar
	depends = strace
	depends = acpi_call
	depends = xorg-xev
	depends = smartmontools
	depends = qbittorrent
	depends = delve
	depends = go-stuff
	depends = python-lsp-server
	depends = qemu-base
	depends = debuginfod
	depends = archlinux-contrib
	depends = archlinux-repro
	depends = pacutils
	depends = pacman-contrib
	depends = bluez
	depends = bluez-utils
	depends = v4l2loopback-dkms
	depends = gphoto2
	depends = gvim
	depends = ctags
	depends = fzf
	depends = ripgrep
	depends = gst-plugins-good
	depends = libvdpau-va-gl
	depends = neomutt
	depends = notmuch
	depends = afew
	depends = msmtp
	depends = offlineimap
	depends = ttf-hack
	depends = noto-fonts
	depends = noto-fonts-emoji
	depends = noto-fonts-cjk
	depends = noto-fonts-extra
	depends = sof-firmware
	depends = man
	depends = networkmanager-openvpn
	depends = nm-connection-editor

pkgname = base-dotfiles

pkgname = foxboron-timers
	install = timers.install

pkgname = foxboron-backup
	install = snapper.install
	depends = foxboron-timers
	depends = snapper
	depends = expac

pkgname = patch-system
