[Unit]
Description=Borg backup BTRFS - %i
After=snapper-backup.service snapper-cleanup.service

[Service]
Type=simple
User=fox
ExecStart=/usr/bin/backup %i

[Install]
WantedBy=timer@hourly.target
